*{
  font-family: 'Poppins', sans-serif;
}

.font-opensans{
  font-family: 'Open Sans', sans-serif;
}

.font-poppins{
  font-family: 'Poppins', sans-serif;
}

.font-aoboshi{
  font-family: 'Aoboshi One', serif;
}

.lh__1{
  line-height: 36px;
}